<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smileyjoedev.catalogue"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan" >
        <activity
            android:name="com.smileyjoedev.catalogue.activities.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.smileyjoedev.catalogue.activities.ReadNFC">
			<intent-filter>
			    <action android:name="android.nfc.action.TECH_DISCOVERED"/>
			    <category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			
			<meta-data android:name="android.nfc.action.TECH_DISCOVERED"
			    android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.CategoryList"
            android:label="@string/title_categories" >
            
            <intent-filter>
	            <action android:name="com.smileyjoedev.catalogue.CATEGORY_CHANGED"></action>
	        </intent-filter>
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.LocationList"
            android:label="@string/title_locations" >
            
            <intent-filter>
	            <action android:name="com.smileyjoedev.catalogue.LOCATION_CHANGED"></action>
	        </intent-filter>
        </activity>
        
		<activity
            android:name="com.smileyjoedev.catalogue.activities.CategoryNew"
            android:label="@string/title_category_new" >
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.LocationNew"
            android:label="@string/title_category_new" >
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.ItemAdd"
            android:label="@string/title_item_add" >
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.ItemList"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.ItemView"
            android:label="@string/title_item_view" >
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.ReadNfcActivity"
            android:label="@string/title_read_nfc_activity"
			android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.CategorySelector"
            android:label="@string/title_category_selector" >
            <intent-filter>
	            <action android:name="com.smileyjoedev.catalogue.CATEGORY_CHANGED"></action>
	        </intent-filter>
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.LocationSelector"
            android:label="@string/title_location_selector" >
            <intent-filter>
	            <action android:name="com.smileyjoedev.catalogue.LOCATION_CHANGED"></action>
	        </intent-filter>
        </activity>
        <activity
            android:name="com.smileyjoedev.catalogue.activities.Search"
            android:label="@string/title_search" >
        </activity>
  	   	<activity 
  	   	    android:name="com.smileyjoedev.genLibrary.PopupDelete" 
			android:label="@string/bar_title_delete"
			android:theme="@android:style/Theme.Holo.Dialog"/>
    </application>

</manifest>